* {
    box-sizing: border-box;
}
#demo {
    margin-top: 4em;
}
.service {
    background-image: url(../images/services-bg.png);
    background-size: cover;
    margin: 3em auto;
    color: white;
    text-align: center;
}

.service .content h1 {
    line-height: 2;
}

.service .cards {
    background-color: #f76d37;
    padding: 5%;
    margin: 1.5em;
}

.service .cards a {
    display: block;
    margin-top: 1em;
    padding: 6px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.service .cards img {
    margin-bottom: 1em;
}

.service .cards:hover {
    background-color: white;
    color: black;
    padding: 5%;
    transition: 0.3s ease-in;
    box-shadow: 10px 10px 20px #f76d37;
}